<span class="blog-sidebar">
	<div class="sidebar-item deepstream-learn-more">
		<h3>the open realtime server</h3>
		deepstream is a new type of server that syncs data and sends events across millions of clients
		<div class="deepstream-star start">
			<div class="tip"></div>
			<div class="icon ion-social-github"></div>
			Like deepstream.io? Star it on <a href="https://github.com/deepstreamIO/deepstream.io">Github</a>!
		</div>
	</div>
</span>