<span class="blog-sidebar">

	<div class="sidebar-item deepstream-learn-more">
		<h4 class="sidebar-item-header">What is deepstream?</h4>

		<p>
			deepstream.io is the open source server thats allows you to create realtime apps with minimal code!
		</p>

		<a href="{{link '/'}}">Learn More</a>.
	</div>

	<div class="sidebar-item deepstream-star">

		<p>
			Like deepstream.io? Grant it a star!
		</p>

		<p>
			{{githubstar}}
		</p>
	</div>

</span>