<div id="support">
	<span>Need support, architectural consulting or training?</span> <button>Buy Support</button>
</div>
<footer>
<div class="cols">
	<div class="col col-a">
		<img src="{{asset "img/logo-footer.svg"}}" />
	</div>
	<div class="col col-b">
		<h4>COMPANY</h4>
		<ul>
			<li>deepstreamHub GmbH</li>
			<li>Lindenstrasse 20-25</li>
			<li>10969 Berlin</li>
			<li>Germany</li>
			<li>info@deepstream.io</a>
			<li>+49 30/2000 5761</li>
		</ul>
	</div>
	<div class="col col-c">
		<h4>CONTENT</h4>
		<a href="#">Guide</a>
		<a href="#">Downloads</a>
		<a href="#">Tutorials</a>
		<a href="#">Documentation</a>
		<a href="#">Blog</a>
		<a href="#">Info</a>
	</div>
	<div class="col col-d">
		<h4>COMMUNITY</h4>
		<a href="#">
			<i class="ion-social-twitter"></i>
			<span>Twitter</span>
		</a>
		<a href="#">
			<i class="ion-social-octocat"></i>
			<span>Github</span>
		</a>
		<a href="#">
			<i class="ion-ios-grid-view-outline"></i>
			<span>Slack</span>
		</a>
		<a href="#">
			<i class="ion-social-facebook"></i>
			<span>Facebook</span>
		</a>
		<a href="#">
			<i class="ion-social-buffer"></i>
			<span>Stack Overflow</span>
		</a>
		<a href="#">
			<i class="ion-social-linkedin-outline"></i>
			<span>LinkedIn</span>
		</a>
	</div>
</div>
<div class="copyright">
&copy; {{date format="YYYY"}} deepstreamHub GmbH
</div>
</footer>