<div id="support">
	<span>Need support, architectural consulting or training?</span>
	<a class="typeform-share button" href="https://deepstream.typeform.com/to/XoABOc" data-mode="2" target="_blank">Buy Support</a>
</div>
<footer id="main">
<div class="cols">
	<div class="col col-a">
		<img src="{{asset "img/deepstream-elton-logo-grey.png"}}" />
	</div>
	<div class="col col-c">
		<h4>CONTENT</h4>
		<a href="/install/">Install</a>
		<a href="/tutorials/">Tutorials</a>
		<a href="/docs/">Documentation</a>
		<a href="/blog/">Blog</a>
		<a href="/info/">Info</a>
	</div>
	<div class="col col-d">
		<h4>COMMUNITY</h4>
		<a target="_blank" href="https://twitter.com/deepstreamIO">
			<i class="ion-social-twitter"></i>
			<span>Twitter</span>
		</a>
		<a target="_blank" href="https://github.com/deepstreamIO">
			<i class="ion-social-octocat"></i>
			<span>GitHub</span>
		</a>
		<a target="_blank" href="https://deepstream-slack.herokuapp.com/">
			<i class="ion-ios-grid-view-outline"></i>
			<span>Slack</span>
		</a>
		<a target="_blank" href="https://www.facebook.com/deepstreamIO/">
			<i class="ion-social-facebook"></i>
			<span>Facebook</span>
		</a>
		<a target="_blank" href="http://stackoverflow.com/questions/tagged/deepstream.io">
			<i class="ion-social-buffer"></i>
			<span>Stack Overflow</span>
		</a>
	</div>
	<div class="col col-b">
		<h4>COMPANY</h4>
		<ul>
			<li>deepstreamHub GmbH</li>
			<li>Lindenstrasse 20-25</li>
			<li>10969 Berlin</li>
			<li>Germany</li>
			<li>info@deepstream.io</a>
			<li>+49 30/2000 5761</li>
		</ul>
	</div>
</div>
<div class="copyright">
&copy; {{date format="YYYY"}} deepstreamHub GmbH
</div>
</footer>
