<nav>
	<div class="wrapper">
		<div class="header-logo">
			<a href="/" id="logo">
				{{> deepstream-logo}}
				<span>deepstream<em>.io</em></span>
			</a>
			<a href="//deepstreamHub.com/careers" class="header-hiring-link" target="_blank">
				<span class="header-hiring-text">we're hiring!</span>
			</a>
		</div>

		<span class="menu-button menu-icon">
			<i class="ion ion-navicon"></i>
		</span>

		<div class="nav desktop-nav">
			{{> nav-menu }}
		</div>

	</div>
</nav>

<div class="mobile-menu">
	<div class="nav mobile-nav">
		{{> nav-menu }}
	</div>
</div>