<nav>
  <div class="wrapper">
    <a href="/" id="logo">
      <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 116.2 116.2" style="enable-background:new 0 0 116.2 116.2;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:none;stroke:#C2EEFA;stroke-width:7;}
        .st1{fill:none;stroke:#218faf;stroke-width:7;stroke-linejoin:bevel;}
        .st2{fill:#218faf;}
        .st3{fill:#C2EEFA;}
      </style>
      <g>
        <g id="ds-logo">
          <path class="st0" d="M58,7.9l-43.3,25l81.4,47l-38.1,22"/>
          <path class="st1" d="M58,107.9l43.3-25v-50L58,7.9V107.9z"/>
          <circle class="st2" cx="58" cy="107.9" r="7"/>
          <circle class="st2" cx="101.3" cy="82.9" r="7"/>
          <circle class="st2" cx="101.3" cy="32.9" r="7"/>
          <circle class="st2" cx="58" cy="7.9" r="7"/>
          <circle class="st3" cx="14.7" cy="32.9" r="7"/>
        </g>
      </g>
      </svg>

      <span>deepstream<em>.io</em></span>
    </a>

    <div class="links">
        <a class="start" href="/">start</a>
        <a {{#if isinstall}}class="active"{{/if}} href="/install/">install</a>
        <a {{#if istutorials}}class="active"{{/if}} href="/tutorials/">tutorials</a>
        <a {{#if isdocs}}class="active"{{/if}} href="/docs/">api docs</a>
        <a {{#if isblog}}class="active"{{/if}} href="/blog/">blog</a>
        <a {{#if isinfo}}class="active"{{/if}} href="/info/">info</a>
          <span class="main-search-container">
        <input type="text" placeholder="search …" class="main-search">
        </span>
        <div class="main-serach-results">
      </div>
    </div>
  </div>
</nav>