<div class="message-in-depth">
	<table>
		<tbody>
			<tr>
				<td>Event</td>
				<td class="event"></td>
			</tr>
			<tr>
				<td>Action</td>
				<td class="action"></td>
			</tr>
			<tr>
				<td>Data</td>
				<td class="data"></td>
			</tr>
		</tbody>
	</table>
	<div class="down-arrow"></div>
</div>