<div class="share-story community-collaborate-content">
	<img width="100%" src="{{link 'asset' 'images/ds-stories-background.png'}}" class="share-story-image" >
	<a class="share-story-content" href="mailto:info@deepstream.io">
		tell us what you're building with deepstream and get the t-shirt *
		<span class="comical-warning">
			* warning: t-shirt actually looks good and is desirable
		</span>
	</a>
</div>