code {
  /*

Style with support for rainbow parens

*/
}
code .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #474949;
  color: #d1d9e1;
}
code .hljs-comment,
code .hljs-quote {
  color: #969896;
  font-style: italic;
}
code .hljs-keyword,
code .hljs-selector-tag,
code .hljs-literal,
code .hljs-type,
code .hljs-addition {
  color: #cc99cc;
}
code .hljs-number,
code .hljs-selector-attr,
code .hljs-selector-pseudo {
  color: #f99157;
}
code .hljs-string,
code .hljs-doctag,
code .hljs-regexp {
  color: #8abeb7;
}
code .hljs-title,
code .hljs-name,
code .hljs-section,
code .hljs-built_in {
  color: #b5bd68;
}
code .hljs-variable,
code .hljs-template-variable,
code .hljs-selector-id,
code .hljs-class .hljs-title {
  color: #ffcc66;
}
code .hljs-section,
code .hljs-name,
code .hljs-strong {
  font-weight: bold;
}
code .hljs-symbol,
code .hljs-bullet,
code .hljs-subst,
code .hljs-meta,
code .hljs-link {
  color: #f99157;
}
code .hljs-deletion {
  color: #dc322f;
}
code .hljs-formula {
  background: #eee8d5;
}
code .hljs-attr,
code .hljs-attribute {
  color: #005ba9;
}
code .hljs-emphasis {
  font-style: italic;
}
