table {
	width: 100%;
}
table td, table th {
	padding: 10px;
	border: 1px solid #eee;
	vertical-align: top;
}
.type {
	text-transform: uppercase;
}
.message {
	font-size: 18px;
}
.message-format-pipe, .message-format-end {
	color: #ccc;
	padding: 0 2px;
}
.message-format-part-0 {
	color: blue;
}
.message-format-part-1, .ack-message-format .message-format-part-2 {
	color: orange;
}
.error-message-format .message-format-part-1 {
	color: red;
}
.error-message-format .message-format-part-2 {
	color: darkred;
}

.ack-message-format .message-format-part-1 {
	color: green;
}

#wrapper > #content h2 {
	margin-top: 0;
}

.section {
	position: relative;
	overflow: auto;
}

.message-type {
	text-align: center;
	width: 100px;
	position: absolute;
	right: -1px;
	top: -1px;
	padding: 5px;
	font-size: 11px;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
	text-transform: uppercase;
}

.message-type.happy {
	background-color: rgba(0, 205, 0, 0.25);
}

.message-type.unhappy {
	background-color: rgba(246, 77, 77, 0.55);
}

td, th{
	font-size: 14px;
}

tr .direction {
		width: 10px;
}

tr .action {
		width: 125px;
}

.message-in-depth {
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 2;
	border-radius: 2px;
	border: 2px solid #D3D3D3;
}

.message-in-depth td:first-child {
	width: 100px;
}

.message-in-depth .down-arrow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid #D3D3D3;
	position: absolute;
	left: 50%;
	margin-left: -10px;
}

.message-in-depth td, .message-in-depth th {
	padding: 5px;
	border: 1px solid #eee;
}

@media print {
	#subnav, #header, #footer { display: none}
	#wrapper > #content {
			margin-left: 0;
			width: 650px;
	}
}