.overview-header{
	background: #0FBBEC;
    position: relative;
    height: 300px;
}

.overview-header img{
	width: 20%;
    position: absolute;
    left: 10%;
    bottom: -15%;
}

.overview-header h1{
	font-size: 40px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 16px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

.overview-header .tags{
    text-align: center;
    position: absolute;
    top: 54%;
    width: 700px;
    left: 50%;
    margin-left: -350px;
}

.overview-header .tags a{
    color: #fff;
    display: inline-block;
    border-right: 1px solid rgba( 255, 255, 255, 0.5 );
    padding: 0 7px;
    margin: 4px 0;
    cursor: pointer;
    transition: all 300ms ease;
}

.overview-header .tags a:hover{
	background-color: rgba( 255, 255, 255, 0.3 );
}

.section-overview{
	position: relative;
}


.section-overview h2{
	margin-top: 40px;
	font-size: 20px;
	font-weight: 300;
}

.section-overview h2 a{
	font-size: 16px;
	font-weight: 300;
	color: #aaa;
}

.section-overview h3,
.section-overview h3 a{
	font-size: 14px;
	font-weight: 300;
	color: #bbb;
	margin: 0;
}

.section-overview h4{
	font-size: 14px;
	font-weight: 300;
    line-height: normal;
    color: #474b4c;
    margin: 0;
}

.section-overview p{
	font-size: 14px;
	color: #647276;
}

.section-overview .entries{
	overflow: hidden;
}

.section-overview .entries > *{
	float: left;
	box-sizing: border-box;
}

.section-overview .one-col > *{
	width: 100%;
}

.section-overview .two-col > *{
	width: 50%;
}

.section-overview .three-col > *{
	width: 33.3333333%;
}

.section-overview a.entry,
.section-overview a.entry *{
	transition: all 300ms ease;
}

.section-overview a.entry{
    display: block;
    box-sizing: border-box;
    padding-left: 6px;
    padding-top: 4px;
    margin: 8px 0;
    border-right: 8px solid #fff;
    position: relative;
    cursor: pointer;
    border-left: 1px solid #7fc0ff;
}

.section-overview a.entry .bg{
	background: #fff;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 0;
}

.section-overview a.entry:hover .bg{
	width: 100%;
	background: #7fc0ff;
}

.section-overview a.entry h4,
.section-overview a.entry p{
	position: relative;
	z-index: 1;
}

.section-overview a.entry:hover *{
	color: #fff!important;
}

.section-overview .elton-overview{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20%;
}