h1{
	text-align: center;
	margin: 30px 0;
}
h1 a{
	font: inherit;
	color: inherit;
}

h2{
		font-size: 18px;
		border-bottom: 1px solid #eee;
		margin: 20px 0 10px;
		padding-bottom: 5px;
}

h3{
	font-size: 18px;
	font-weight: 400;
	color: #474b4c;
	margin-bottom: 12px;
	position: relative;
}

h3:before{
		display: inline-block;
		font-family: "Ionicons";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		text-rendering: auto;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		left: -20px;
		color: #cacaca;
}

.categories{
	overflow: hidden;
}

.categories, h2{
	clear:left;
}

.categories.guides h3,
.categories.videos h3{
	display: none;
}

.entries{
	width: 300px;
	height: 300px;
	padding: 40px 40px 0 40px;
	overflow: auto;
	float: left;
	background: #f6f6f6;
		border: 1px solid #fff;
		box-sizing: border-box;
}

.entries a{
		display: block;
		box-sizing: border-box;
		padding: 8px 0;
		font-size: 16px;
		font-weight: 300;
		color: #647276;
		cursor: pointer;
}

.entries a:hover{
	color: #0FBBEC;
}

h3.getting:before{
	content: "\f279";
}

h3.authentication:before{
	content: "\f212";
}

h3.permissioning:before{
	content: "\f4d4";
}

h3.data-sync:before{
	content: "\f13f";
}

h3.pub-sub:before{
	content: "\f2c3";
}

h3.deployment:before{
	content: "\f298";
}

h3.request-response:before{
	content:  "\f201";
}

h3.other:before{
	content: "\f217";
}

h3.frontend:before{
	content: "\f1fc";
}

h3.database:before{
	content:  "\f12e";
}

h3.cache:before{
	content: "\f12e";
}

h3.messaging:before{
	content: "\f132";
}
