h2.main{
    text-align: center;
    margin: 40px 0;
}

#tut-overview {
    margin: 40px 0 0;
    padding-bottom: 0;
}

#tut-overview .wrapper{
    overflow: hidden;
}

#tut-overview a{
    display: block;
    float: left;
    width: 199px;
    height: 100px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    cursor: pointer;
    transition: all 300ms ease;
}

#tut-overview .wrapper:hover a{
    opacity: 0.5;
}

body #tut-overview .wrapper a:hover{
    opacity: 1;
}

#tut-overview a.quickstart{
    background-image: url(/assets/img/tutorials/quickstart.png);
}
#tut-overview a.config{
    background-image: url(/assets/img/tutorials/server.png);
}
#tut-overview a.intro{
    background-image: url(/assets/img/tutorials/introduction.png);
}
#tut-overview a.security{
    background-image: url(/assets/img/tutorials/security.png);
}
#tut-overview a.react{
    background-image: url(/assets/img/tutorials/react.png);
}
#tut-overview a.angular{
    background-image: url(/assets/img/tutorials/angular.png);
}
#tut-overview a.knockout{
    background-image: url(/assets/img/tutorials/knockout.png);
}
#tut-overview a.polymer{
    background-image: url(/assets/img/tutorials/polymer.png);
}
#tut-overview a.spaceshooter{
    background-image: url(/assets/img/tutorials/spaceshooter.png);
}
#tut-overview a.issuetracker{
    background-image: url(/assets/img/tutorials/gittracker.png);
}
#tut-overview a.arduino{
    background-image: url(/assets/img/tutorials/arduino.png);
}

#tut-overview a h3{
    width: 100px;
    padding-left: 10px;
    height: 100%;
    display: table;
}

#tut-overview a h3 span{
    font-weight: 300;
    vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    line-height: 25px;
}

#tut-overview a h3 span.bright{
    color: #fff;
}


.section-overview{
	position: relative;
}

.section-overview h2,
.section-overview h2 a{
	font-size: 20px;
	font-weight: 300;
}

.section-overview h2{
	margin-bottom: 8px;
}

.section-overview h2 a{
	margin-bottom: 0;
}

.section-overview h3,
.section-overview h3 a{
	font-size: 14px;
	font-weight: 300;
	color: #bbb;
	margin: 0;
}

.section-overview h4{
	font-size: 14px;
	font-weight: 300;
    line-height: normal;
    color: #474b4c;
    margin: 0;
}

.section-overview p{
	font-size: 14px;
	color: #647276;
}

.section-overview .entries{
	overflow: hidden;
    padding-left: 20px;
    border-left: 1px solid #dadada;
    margin-top: 30px;
}


.section-overview a.entry,
.section-overview a.entry *{
	transition: all 300ms ease;
}

.section-overview a.entry{
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
    width: 350px;
}

.section-overview a.entry:hover{
	background: #0FBBEC;
}

.section-overview a.entry:hover *{
	color: #fff !important;
}

.section-overview a.entry h3{
	clear: both;
	display: block;
}

.section-overview a.entry h4{
	font-size: 16px;
	color: #474b4c;
	margin: 10px 0;
	display: inline-block;
	font-weight: 300;
}

.section-overview a.entry .entry-icon{
    display: inline-block;
    width: 30px;
    color: #58c9e8;
    font-size: 26px;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.section-overview a.entry img.entry-icon{
    top: 10px;
    margin-right: 10px;
}


.section-overview .elton-overview{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20%;
}

.docs a{
    width: 300px;
    display: block;
    float: left;
    text-align: center;
    padding: 80px 0;
    cursor: pointer;
    margin: 40px 50px;
    font-size: 25px;
    font-weight: 200;
    transition: all 400ms ease;
}

.docs a:hover{
	background-color: #0FBBEC;
	color: #fff;
}

.docs a img{
    display: block;
    margin: 0 auto 20px;
}


