/*************************
* Header
* ***********************/
header.main-header{
	background-color: #0FBBEC;
	background-image: url(../img/bg-main.png);
	background-repeat: no-repeat;
	background-position: center right;
	width:100%;
	min-height: 300px;
	position: relative;
}

header.main-header .header-bg .bg-bus{
    width: 50%;
    height: 100%;
    left: 25%;
    position: absolute;
    top: 22px;
}

header.main-header .elton{
	background: url(../img/start-header-shadow.png) no-repeat center bottom;
	background-size: contain;
	float: left;
	padding: 0 15px 0 30px;
}

header.main-header .elton img{
	width: 100%;
	max-width: 200px;
	float:right;
	margin-bottom: 15%;
}

header.main-header .page-title{
	font-size: 5rem;
	letter-spacing: -1px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
	color: #fff;
}

header.main-header .main-header-text-wrapper{
	position:relative;
	width:100%;
	margin:0 auto;
	clear:both;
	padding: 10px 35px;
}

header.main-header .main-header-text{
	position:relative;
}

header.main-header .main-header-text a{
	border: 1px solid rgba( 255, 255, 255, 0.8 );
	background: rgba( 255, 255, 255, 0.1 );
	padding: 10px 15px;
	border-radius: 3px;
	width: 200px;
	cursor: pointer;
	transition: all 400ms ease;
	float: right;
	margin: 0 5% 5% 0;
}

header.main-header .main-header-text a:hover{
	border: 1px solid rgba( 255, 255, 255, 1 );
	background: rgba( 255, 255, 255, 0.3 );
}

header.main-header .main-header-text a span{
	font-size: 14px;
	color: #fff;
	position: relative;
	top: -2px;
}

header.main-header .main-header-text a i{
	color: #fff;
	margin-right: 10px;
	font-size: 18px;
}

header.main-header .bottom{
	width: 100%;
	clear:both;
	z-index: 1;
	background: rgba( 0, 0, 0, 0.1 );
	text-align: center;
}

header.main-header .bottom a{
	width:100%;
	display: inline-block;
	color: #fff;
	padding: 6px 16px;
}

header.main-header .bottom a i{
	color: #fff;
	margin-right: 6px;
}

header.main-header .page-description,
header.main-header .page-description *{
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5em;
	color: #FFF;
	letter-spacing: 1px;
	max-width: 500px;
}

@media screen and (min-width:40em){
	header.main-header .elton{
		float: none;
		position: absolute;
	}

	header.main-header .elton{
		bottom: 5%;
		left: 15%;
		width: 20%;
	}
}

@media screen and (min-width:50em){
	header.main-header .elton{
		bottom: 5%;
		left: 25%;
		width: 12.5%;
	}
}

@media screen and (min-width:47em){
	header.main-header{
		min-height: 400px;
	}

	header.main-header .main-header-text{
		text-align: center;
		clear:none;
		max-width: 50%;
		margin:0 auto;
	}

	header.main-header .main-header-text a{
		display: block;
		float: none;
		margin: 25px auto;
	}

	header.main-header .page-title{
		margin: 10px 0 10px 0;
	}

	header.main-header .page-description{
		margin: 0 auto;
	}

	header.main-header .main-header-text{
		display: block;
		margin: 20px auto;
	}

	header.main-header .bottom a{
		width:auto
	}

	header.main-header .main-header-text-wrapper {
		padding: 100px 0;
	}

}

/*************************
* START PAGE USE CASES
* ***********************/
.use-cases{
	display:none;
	border-bottom: 1px solid #ccc;
	height: 450px;
	padding: 0;
}

.use-cases .two-col{
	position: relative;
	height: 100%;
}

.use-cases .col{
	width: 50%;
	height: 100%;
	position: relative;
}

.use-cases .use-case-text{
		position: absolute;
		top: 50%;
		margin-top: -70px;
		width: 70%;
		left: 15%;
}

.use-cases video{
	position: absolute;
	bottom: 0;
}

/*************************
* NEWS
* ***********************/
.news{
	background: #f6f6f6;
    padding: 0 0 40px;
}

.news a{
	display: block;
	float: left;
	width: 20%;
	box-sizing: border-box;
	border-right: 1px solid #f6f6f6;
	position: relative;
	cursor: pointer;
	transition: all 300ms ease;
	overflow: hidden;
}

.news a:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.news a img{
	width: 240px;
}

.news a p{
	padding: 10px;
	font-size: 15px;
}

.news a em{
	font-size: 15px;
	font-style: normal;
	color: #474b4c;
	font-weight: normal;
}


/*************************
* FEATURES
* ***********************/
.features li{
	width: 70%;
	margin: 2.5% 15%;
	float: left;
	text-align: center;
}

.features li .icon{
	border: 1px solid #3A739B;
	border-radius: 50%;
	width: 74px;
	height: 74px;
	position: relative;
	margin: 0 auto 30px;
	text-align: center;
}

.features li .icon.data-sync svg{
	position: absolute;
		width: 34px;
		left: 20px;
		top: 20px;
		fill: #3A739B;
}

.features li .icon i{
	position: relative;
		top: 19px;
	font-size: 35px;
	color: #3A739B;
}

.features p{
	font-size: 16px;
}

@media screen and (min-width:47em){
	.use-cases{
		display:block
	}
	.features li{
		width: 23%;
		margin: 0px 5.1333333%;
	}
}

/*************************
* GETTING STARTED
* ***********************/
#getting-started {
	position: relative;
	overflow: hidden;
	background-color: #0EA9D5;
}

#getting-started *{
	color: #fff;
}

#getting-started .main {
	overflow: hidden;
}

#getting-started .main a {
	width: 100%;
	float: left;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	padding: 20px 0;
	display: block;
	cursor: pointer;
	transition: all 400ms ease;
}

#getting-started .main a:hover {
	background-color: rgba(255,255,255,0.2);
}

#getting-started .main a .seperator {
	position: absolute;
	width: 1px;
	height: 80%;
	right: 0;
	background-color: #ddd;
	top: 10%;
}

#getting-started .main a .icon {
	font-size: 100px;
	color: #fff;
}

#getting-started h3{
	margin-top: 16px;
}

#getting-started .main a p {
	font-size: 16px;
	padding:0 30px
}

@media screen and (min-width:47em){
	#getting-started .main a {
		width:50%
	}
	#getting-started .main a:first-child {
		border-right:1px solid #DDD
	}
}


/*************************
* LEARN ABOUT
* ***********************/
#learn-about {
	overflow: hidden;
}

#learn-about h3 {
	text-align: center;
	color: #333;
	font-size: 24px;
	margin: 40px 0 10px;
	position: relative;
}

#learn-about h3 .border {
	height: 1px;
	width: 60%;
	margin: 20px 20% 0;
	background-color: #3A739B;
}

#learn-about .grid {
	overflow: hidden;
	max-width: 1100px;
	margin: 0;
}

#learn-about .grid a {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 50px;
	text-transform: lowercase;
	padding: 10px 0;
	color: #333;
	box-sizing: border-box;
	font-weight: 300;
	transition: all 400ms ease;
}

#learn-about .grid a:hover {
	background-color: #0FBBEC;
	color: #fff;
	font-weight: 500;
}

#learn-about .grid a * {
	display: inline-block;
	vertical-align: middle;
	transition: all 400ms ease;
}

#learn-about .grid a:hover * {
	color: #fff;
}

#learn-about .grid a .icon {
	width: 20px;
	height: 20px;
	font-size: 18px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
}

#learn-about .grid a span{
		color: #647276;
		font-size: 16px;
		font-weight: 300;
}

#learn-about .grid a img {
	width: 20px;
	margin-right: 10px;
}

@media screen and (min-width:47em){
	#learn-about .grid{
		margin-left:84px
	}
	#learn-about .grid a {
		width: 25%;
		height:auto;
		padding: 30px 0 30px 20px;
		float: left;
	}
	#learn-about .grid a .icon {
		width:40px;
		height:40px;
		font-size:36px;
	}
	#learn-about .grid a img {
		width:40px
	}
}


/*************************
* EVENTS
* ***********************/
#events{
    background: url(../img/events/events-background.png);
    background-size: cover;
    padding: 30px 0;
}

#events a{
    height: 200px;
    width: 25%;
    display: block;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-right: 1px solid #000;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
    overflow: hidden;
}

#events a:nth-child(4),
#events a:nth-child(8){
	border-right: 0;
}

#events a label{
	position: absolute;
    bottom: -36px;
    width: 100%;
    background: rgba( 0, 0, 0, 0.8 );
    color: #fff;
    left: 0;
    transition: all 400ms ease;
    padding: 10px;
    box-sizing: border-box;
}

#events a:hover label{
	bottom: 0;
}

#events a button{
	position: absolute;
    right: 0;
    top: -22px;
    background-color: #fff;
    color: #111;
    min-height: auto;
    padding: 2px 7px;
    border-radius: 0 0 0 4px;
    transition: all 400ms ease;
}

#events a:hover button{
	top: 0;
}

.typeform-share{
	display: none !important;
}

/*************************
* GET IN TOUCH
* ***********************/
#get-in-touch{
	padding-bottom: 40px;
}

#get-in-touch .github{
	border: 1px solid #ddd;
    background-image: url(../img/logos/github.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    padding-left: 80px;
}

#get-in-touch .github .git-text{
	display: inline-block;
	width: 372px;
	font-size: 16px;
	color: #647276;
}

#get-in-touch .github .git-text a{
	font-size: 16px;
	color: #000;
}

#get-in-touch .github .git-btn{
	display: inline-block;
}

#get-in-touch .links{
	width: 50%;
    margin: 0 auto;
}

#get-in-touch .links a{
    padding: 40px 14px 40px 67px;
	cursor: pointer;
    background-repeat: no-repeat;
    background-position: 15px center;
    display: block;
    width: 50%;
    float: left;
    font-size: 16px;
	font-weight: 300;
	transition: all 400ms ease;
}

#get-in-touch .links a:hover {
	background-color: #0FBBEC;
	color: #fff;
}

#get-in-touch .links a.twitter{
	 background-image: url(../img/logos/twitter.png);
}

#get-in-touch .links a.facebook{
	 background-image: url(../img/logos/facebook.png);
}

#get-in-touch .links a.stackoverflow{
	 background-image: url(../img/logos/stackoverflow.png);
}

#get-in-touch .links a.slack{
	 background-image: url(../img/logos/slack.png);
}